// app level
$font-stack: Tahoma, Arial, Helvetica, sans-serif
$header-color: #333333e8
$body-color: #696969
$background-color: #eee

body
  background-color: $background-color
  color: $body-color
  font-family: $font-stack

h1, h2, h3, h4, header, strong, i
  color: $header-color

h4
  font-weight: 600
  margin-block-start: 0

span, p
  color: $body-color

div
  margin: 0
  padding: 0

main
  width: 100%

#app
  display: flex
  margin: auto
  min-width: 400px
  padding: 0 10vw

// overview
.separator
  display: flex

#overview
  color: black !important
  position: relative
  min-width: 45em

#gallery-container
  order: 1
  // flex-grow: 2
  z-index: 2
  position: relative
  min-width: 15em
  width: 60%
  min-height: 30em
  // transition: width 1s ease, height 1s ease
  &.full
    margin: auto
    width: 100% !important
    height: 35em !important
    cursor: zoom-in
    i
      z-index: 3
      &.collapse
        cursor: zoom-out
      &.expand
        cursor: zoom-in
  &.zoom
    cursor: all-scroll
    i
      cursor: zoom-out
  i
    z-index: 2
    position: relative
    cursor: pointer

#gallery
  z-index: 1 !important
  // background-color: grey
  position: relative
  width: 100%
  height: 100%
  margin: 0 !important
  cursor: zoom-in
  &.zoom
    cursor: zoom-out

#outer-gallery-nav
  z-index: 2
  position: absolute
  height: 100%

#gallery-nav
  z-index: 2
  display: flex
  flex-direction: column
  justify-content: start
  top: 6.5%
  left: -2em
  position: absolute
  opacity: .9
  height: 87%
  width: 4em
  // background-color: blue
  overflow: hidden
  &:hover
    opacity: 1

.scroll-up
  z-index: 2
  top: 1%
  right: .6em

.scroll-down
  z-index: 2
  top: 94.5%
  right: 1.5em

.gallery-nav-tile
  z-index: 2
  width: 3.0em
  height: 3.0em
  margin: 0 0 .75em .3em
  background-color: grey
  flex-shrink: 0
  cursor: pointer
  &:hover
    filter: brightness(1.1)
  &.selected
    // border-bottom: .2em solid black
    box-shadow: 0 .25em #F39C12

#gallery-aside
  order: 2
  position: relative
  // background-color: darkgrey
  width: 40%
  min-height: 30em
  #gallery-aside-stars
    display: inline-block !important
  a
    font-size: .8em
    position: relative
    display: inline-block !important
    margin-left: .5em
    top: -.15em
  .strikethrough
    text-decoration: line-through
  h2
    margin: .5em 0
  #styles
    margin-bottom: 1.5em
  #style-grid
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-content: flex-start
    margin-bottom: 1.5em

  #size-select
    font-weight: bold
    border-radius: 0
    padding: 1em 3em 1em 1.5em
    flex-grow: 2
    margin-right: 1.5em
    cursor: pointer

  .separator // separator NEST INSIDE #gallery-aside
    width: 100%
    justify-content: space-between
    margin-bottom: .25em

  button
    cursor: pointer

  #quantity-select
    border-radius: 0
    padding: 1em 1em 1em 1em
    width: 6em
    font-weight: bold

  #add-to-bag
      flex: 1 2 0
      font-weight: bold
      position: relative
      border-radius: 0
      height: 4em
      width: 12em
      padding: 1em 3em 1em 1.5em
      white-space: nowrap
      text-align: left
      i
        position: absolute
        float: right
        right: 1.5em
        top: 1.4em

  #favorite-button
    width: 4em
    padding: 1em
    margin-left: 1.5em

.style-tile
  border-radius: 50%
  background-color: black
  width: 3.5em
  height: 3.5em
  margin-right: .75em
  margin-bottom: .25em
  cursor: pointer

#description
  order: 1
  position: relative
  width: 60%
  i
    cursor: pointer
    font-size: 1.5em
    margin-right: 1em
    &.fa-twitter:hover
      color: #1DA1F2
    &.fa-pinterest:hover
      color: #c8232c
    &.fa-facebook:hover
      color: #4267B2
    &.fa-tumblr:hover
      color: #34526f
    &.fa-share-alt:hover
      color: #00995e
// i className="fab fa-pinterest"></i>
//           <i className="fab fa-tumblr"></i>
//           <i className="fas fa-share-alt"></i>

#features
  order: 2
  display: inline-block
  position: relative
  // background: lightgrey
  width: 40%
  // height: 15em

.left-margin
  margin-left: 2.5em

.top-margin
  margin-top: .75em

.large-top-margin
  margin-top: 2em

.left-border
  border-left: .1em solid black

#fcontainer>i
  margin: .5em

.hide
  display: none

.float-right
  float: right
  margin-right: 1em
  margin-top: 1em

.slim
  font-size: .8em
  font-weight: 200 !important

.uppercase
  text-transform: uppercase

.outfitRelatedWidget
  display: flex
  align-items: center

.carousel
  align-items: center
  display: flex
  overflow: hidden
  position:relative
  padding: 30px

.carousel_button
  height: 100px
  width: 3rem
  cursor: pointer
  border: 0
  font-weight: bold
  padding: 20px

  .previous
    right: 5px

  .next
    left: 5px

  &:hover
    opacity: 100%
    background-color: #969696

.card
  margin-left: 6px
  margin-right: 6px
  height: 384px
  width: 256px
  position: relative
  background-color: white
  border: 1px solid black
  transition: transform 0.25s

  &:hover
    transform: scale(1.1)
    z-index: 2
    cursor: pointer

.plus
  width: 256px
  justify-content: center
  align-items: center
  text-align: center

.textContainer
  padding: 10px

.imageContainer
  height: 256px
  width: 256px
  margin-left: auto
  margin-right: auto
  display: flex
  justify-content: center
  align-items: center
  text-align: center


.cardIcon
  position: absolute
  top: 5px
  right: 5px

// reviews
#review-widget
  margin: 3em 0 1em 0
  h2
    font-size: 18px
    font-weight: bold

#reviews-ratings-container, #reviews-container, #ratings-container
  display: flex

@media (max-width: 400px)
  #reviews-ratings-container
    flex-direction: column

  #ratings-container
    flex-direction: row

#reviews-container, #ratings-container
  flex-direction: column

#reviews-ratings-container
  justify-content: space-between
  margin-top: 1em

#reviews-container
  min-width: 400px
  width: 65%

#ratings-container
  margin-right: 50px
  min-width: 250px
  width: 30%

#ratings-breakdown
  .filter-summary
    font-size: 12px
    margin-bottom: 1em
    z-index: 1
    .current-filters
      font-size: 10px
    button
      background: none
      border: none
      color: inherit
      cursor: pointer
      font-size: 10px
      outline: inherit
      padding: 0
      text-decoration: underline

  .avg-rating-stars
    align-items: flex-start
    display: flex
    font-size: 40px
    font-weight: bold
    .avg-rating
      margin: -0.25em 0.25em  0 0
      letter-spacing: 0.05em

.empty-stars
  color: red
  font-family: FontAwesome
  font-size: 16px
  left: 0
  position: relative
  top: 0
  width: min-content
  &::before
    content: '\f006 \f006 \f006 \f006 \f006'

.filled-stars
  left: 0
  position: absolute
  overflow: hidden
  top: 0
  white-space: nowrap
  i
    color: red

.rating-bars, .char-bars
  list-style-type: none
  margin-top: 1.5em
  padding: 0
  width: inherit

.rating-bar, .char-bar
  align-items: center
  display: flex
  justify-content: space-between
  margin-bottom: 1em
  padding: 0

.rating-bar
  cursor: pointer
  transition: all 0.25s ease-in-out
  &:hover
    color: red
    transform: scale(1.1)

.rating-bar-active
  font-weight: bold

.rating-container
  background-color: lightgray
  border-radius: 10px
  height: 1em
  width: 70%

.rating-filler
  height: inherit
  background-color: green
  border-radius: 10px

.char-bars
  div
    i
      margin-bottom: 0.1em
      position: relative
      transform: translateX(-50%)
      width: inherit

.char-bar
  margin-bottom: -0.25em
  margin-top: 0.5em
  width: inherit

.char-container
  background-color: lightgray
  height: 0.5em

.char-labels
  display: flex
  font-size: 10px
  justify-content: space-between
  margin: -0.75em 0 1.5em 0

.recommend-summary
  font-style: italic
  margin-bottom: 1em
  text-align: center

.review-tiles
  list-style-type: none
  margin: 0
  max-height: 100vh
  overflow-y: scroll
  padding: 0

.empty-reviews
  font-style: italic
  margin-bottom: 0
  text-align: center
  text-decoration: underline

.review
  border-bottom: 2px solid gray
  display: flex
  flex-direction: column
  font-size: 14px
  padding: 2.5em 0 1.5em 0

.reviews-count
  font-weight: bold
  margin-top: -0.25em
  select
    background-color: $background-color
    border: none
    border-bottom: 1px solid black
    cursor: pointer
    outline: none

.review
  button
    background: none
    border: none
    color: inherit
    cursor: pointer
    font: inherit
    outline: inherit
    padding: 0 0.25em 0 0.5em
    text-decoration: underline
    &:hover
      color: $header-color

.review-date
  align-items: center
  color: gray
  display: flex
  font-size: 10px
  justify-content: space-between

.review-summary
  font-size: 18px
  font-weight: bold
  margin-bottom: 0

.review-body
  button
    font-size: 12px

.review-photos
    display: flex
    justify-content: flex-start
    list-style-type: none
    margin-bottom: 1em
    max-height: auto
    padding: 0

.review-photo
  cursor: pointer
  margin-right: 0.25em
  img
    height: auto
    width: 100px

.recommend, .reviewer
  margin-bottom: 1em

.recommend
  i
    margin-right: 0.5em

.response
  background-color: lightgray
  margin-bottom: 1em
  padding: 1em 1em 0 1em

.helpful
  color: gray
  font-size: 10px
  span
    margin-right: 0.5em

.review-buttons
  display: flex
  justify-content: space-between
  margin-top: 2em
  width: 50%
  button
    background-color: lightgray
    border: 1px solid black
    border-radius: 0
    cursor: pointer
    height: 4em
    width: 48%
    &:hover
      color: $header-color

// Modal
img
  max-width: 100%
  max-height: 100%

.modal
  top: 50vh
  max-height: 80vh
  border: thick double black
  position: fixed
  background-color: skyblue
  z-index: 2147483646
  max-width: 80vw
  left: 50vw
  transform: translate(-50%, -50%)
  .modalBody
      img
        max-width: 80vw
        max-height: 80vh

#backDrop
  opacity: 0.5
  top: 0%
  left: 0%
  position: fixed
  background-color: black
  height: 100%
  width: 100%
  z-index: 2147483645

#CloseBtn
  cursor: pointer
  position: fixed
  padding: 2px
  top: 1vh
  left: 8vh
  font-weight: 400
  font-size: 35px
  color: lightgrey
  z-index: 2147483647

#CloseBtn:hover
  color: white

#modalImgDiv
  width: fit-content

.modalHeader
  text-align: center


/////////////QA//////////////
#QATitle
  border-bottom: thick double black
  padding: 2px
  text-align: center
  font-weight: 250
  font-size: 40px

#Qinput
  border: 0px
  border-bottom: 2px solid black
  width: 30vw
  font-size: 30px

#Qinput:focus
  outline: none

#search
  cursor: pointer
  margin-left: 5px
  margin-top: 10px
  width: 30px
  height: 30px

#loadQ, #loadA
  cursor: pointer
  background-color: white
  border: 0px
  text-decoration: underline
  font-size: 20px
  width: fit-content

#QButton
  cursor: pointer
  margin-left: 50%
  transform: translateX(-50%)
  border: 0px
  border-bottom: 2px solid black
  background-color: white
  font-size: 30px
  width: 20vw

.question
  padding: 10px
  border-bottom: 2px solid black
  margin: 3%
  .AnswerText
    font-weight: 200

.answer
  padding: 5px
  border-bottom: 1px solid grey
  margin: 3%

.hoverGrey:hover
  color: grey

#loadQ
  font-size: 30px
  margin-bottom: 25px
  margin-left: 50%
  transform: translateX(-50%)

#searchDiv
  width: fit-content
  display: flex
  position: relative
  margin-left: 50%
  transform: translateX(-50%)

.answerImage
  margin: 5px
  height: 50px
  width: 50px
  border: 2px solid black

#answerImageDiv
  display: flex


#helpfulQ
  display: flex
  float: right
  color: gray
  font-size: 13px
  font-weight: 200
  button
    cursor: pointer
    color: gray
    text-decoration: underline
    background-color: white
    border: none


#userInfoAndHelpful
  color: gray
  font-size: 13px
  button
    cursor: pointer
    color: gray
    text-decoration: underline
    background-color: white
    border: none

#questionForm, #answerForm
  color: black
  width: 60vw
  button
    cursor: pointer
    color: black
    text-decoration: none
    margin-left: 42%
    margin-bottom: 10px
    font-size: 25px
    border: 2px solid black
  button:hover
    background-color: lightgrey
  div
    height: 100px
    border-bottom: 1px solid black
    font-size: 25px
    margin: 10px
  input, textarea
    border: 2px solid black
    width: 45%
    font-size: 25px
    float: right
    margin-right: 5%
  #Question
    height: 75px

.QuestionList
  margin-bottom: 10px
  max-height: 75vh
  overflow-y: scroll

#AnswerHeader
  color: black

.inValid
  color: red

.disclaimer
  font-size: 15px
  font-weight: 200
  color: grey

.sent
  font-weight: 200
  margin-left: 50%
  transform: translateX(-50%)
  font-size: 80px
  color: black

.AnswerList
  max-height: 50vh
  overflow-y: scroll

#nav
  margin: 15px

.answerNameBold
  font-weight: 600