// app level
$font-stack: Tahoma, Arial, Helvetica, sans-serif;
$body-color: black
$background-color: white

body
  color: $body-color
  background-color: $background-color

div
  margin: 0
  padding: 0

main
  width: 100%

#app
  display: flex
  margin: auto
  min-width: 400px
  padding: 0 15vw

// overview
.separator
  display: flex

#overview
  color: black !important

#gallery
  order: 1
  background-color: grey
  position: relative
  width: 60vw
  height: 25em

#gallery-aside
  order: 2
  position: relative
  background-color: darkgrey
  width: 40vw
  height: 25em

#description
  order: 1
  position: relative
  background: darkgrey
  width: 60vw
  height: 15em

#features
  order: 2
  display: inline-block
  position: relative
  background: lightgrey
  width: 40vw
  height: 15em

.left-margin
  margin-left: 2.5em

.top-margin
  margin-top: 2em

.left-border
  border-left: .1em solid black

#fcontainer>i
  margin-top: .5em
  margin-left: .5em
  margin-bottom: .5em
  margin-right: .5em

.hide
  display: none

.full
  width: 100vw !important

.float-right
  float: right
  margin-right: 1em
  margin-top: 1em

#related
  display: flex
  align-items: center

.carousel
  width: #969696
  align-items: center
  display: flex
  overflow: hidden
  position:relative
  transform: translateX(0)
  transition: transform 0.25s
  color: #212121

.carousel_button
  height: 100px
  width: 3rem
  cursor: pointer
  font-size: 3rem
  border: 0
  font-weight: bold
  z-index: 1
  padding: 20px
  font: 100% $font-stack

  .previous
    right: 5px

  .next
    left: 5px

  &:hover
    opacity: 100%
    background-color: #969696

.relatedCard
  margin-left: 6px
  margin-right: 6px
  height: 384px
  width: 256px
  position: relative
  background-color: white
  border: 1px solid black


.plus
  display: flex
  justify-content: center
  align-items: center
  text-align: center


.textContainer
  padding: 10px

.star
  position: absolute
  top: 5px
  right: 5px

// reviews
#reviews-ratings-container, #reviews-container, #ratings-container
  display: flex

#reviews-container, #ratings-container
  flex-direction: column

#reviews-ratings-container
  justify-content: space-between

#reviews-container
  width: 65%

#ratings-container
  width: 30%

#ratings-breakdown
  .avg-rating-stars
    align-items: center
    display: flex

#reviews
  ul
    list-style-type: none
    margin: 0
    max-height: 95vh
    overflow-y: scroll
    padding: 0
  li
    border-bottom: 2px solid gray
    display: flex
    flex-direction: column
    font-size: 14px
    padding: 2.5em 0 1.5em 0

.reviews-count
  font-weight: bold
  select
    border: none
    border-bottom: 1px solid black
    outline: none

.review
  button
    background: none
    border: none
    color: inherit
    cursor: pointer
    font: inherit
    outline: inherit
    padding: 0 0.5em
    text-decoration: underline

.review-date
  align-items: center
  color: gray
  display: flex
  font-size: 10px
  justify-content: space-between

.review-summary
  font-size: 18px
  font-weight: bold
  margin-bottom: 0

.recommend, .reviewer
  margin-bottom: 1em

.response
  background-color: lightgray
  margin-bottom: 1em
  padding: 1em 1em 0 1em

.helpful
  color: gray
  font-size: 10px

.review-buttons
  display: flex
  justify-content: space-between
  margin-top: 2em
  width: 50%
  button
    background-color: lightgray
    border: 1px solid black
    border-radius: 0
    cursor: pointer
    height: 4em
    width: 48%
