# Package Manager
yarn.lock
yarn-error.log

# Node Modules
node_modules/

# VS Code
.vscode/
.DS_store

# API's/secrets
.env
catwalk.pem
fec.pem

# Testing Coverage Reports
coverage/

# Distribution files
client/dist
*.bundle.js
